# intermediate build files

*.asy
*.bgn
*.bit
*.bld
*.bak
*.cmd
*.cmd_log
*.cgc
*.cgp
*.drc
*.exe
*.gise
*.ll
*.lso
*.log
*.msd
*.msk
*.ncd
*.ngc
*.ngd
*.ngr
*.ngm
*.ipf
*.ini
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.rbb
*.rbd
*.spl
*.stx
*.syr
*.sym
*.tfi
*.twr
*.twx
*.unroutes
*.ut
*.wdb
*.xpi
*.xst
*.xprt
*_bitgen.xwbt
*_envsettings.html
*_map.map
*_map.mrp
*_map.ngm
*_map.xrpt
*_ngdbuild.xrpt
*_pad.csv
*_pad.txt
*_par.xrpt
*_summary.html
*_summary.xml
*_usage.xml
*_xst.xrpt
usage_statistics_webtalk.html
webtalk_pn.xml

# generated folders
iseconfig/
xlnx_auto_0_xdb/
isim/
tmp/
xst/
_ngo/
_xmsgs/
basys2_xdb/
blk_mem_gen_v7_3/
ipcore_dir/
